body{background-color:wheat;}

.well{text-align:center;
font-family:monospace;
background-image:url('https://images.pexels.com/photos/48126/books-education-school-literature-48126.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
background-size:cover;
color:rgb(66,11,11);}

footer{background-color:rgb(66, 11, 11);
margin-top:40px;
text-align:center;
font-size:12px;
font-family:'Arial Black';
color:wheat;}
.row{border:5px solid rgb(66, 11, 11);
}

label{padding:20px;
font-size:19px;
font-family:'Courier New'}
.radio p{color:rgb(71, 17, 17);
font-family:monospace;
font-size:15px;}
button{padding:15px;
    width:100%;
background-color:rgb(66, 11, 11);
font-size:20px;
color:wheat;}
#marks{
    visibility: hidden;
    background: #ff5459;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
  }
  #mark {
    display: inline-block;
  }
  #mark{
    display: none;
  }